mixin calendarblock()
  h3 
    span#day Upcoming events

    .row
      .col
        p Harper
        table.table.table-striped.table-sm
          tbody#harper-calendar
                                                                                                       
      .col
        p Hiromi 
        table.table.table-striped.table-sm
          tbody#hiromi-calendar
          