mixin clock(presence)
  #clock
    object(data='/imgs/station-clock.svg', type='image/svg+xml', width='100', height='100')
      param(name='dial', value='din 41091.4')
      param(name='hourHand', value='din 41092.3')
      param(name='minuteHand', value='din 41092.3')
      param(name='secondHand', value='none')
      param(name='minuteHandBehavior', value='stepping')
      param(name='backgroundColor', value='rgba(0,0,0,0)')
      param(name='dialColor', value='rgb(40,40,40)')
      param(name='hourHandColor', value='rgb(20,20,20)')
      param(name='minuteHandColor', value='rgb(20,20,20)')
      param(name='axisCoverColor', value='rgb(20,20,20)')
      param(name='axisCoverRadius', value='0')
      param(name='updateInterval', value='50')