mixin presenceblock(presence)
  
  h3#people_away_title Where is everyone?
  .row#people_away
    



  .row#everyone_home
    .col
      h1.display-1.text-center Everyone is home!
      h1.text-center 
        i.fa.fa-heart(aria-hidden='true')
        i.fa.fa-heart-o(aria-hidden='true')
        i.fa.fa-heart(aria-hidden='true')

          
