mixin weather(temp, weathericon)
   h1.float-right
    .text-right#weather
      img(src="http://icons.wxug.com/i/c/k/sunny.gif", alt='', height=75)#icon
      | &nbsp;
      span#temperature 0.0
      |  °