extends dashboard_layout

include partials/presence
include partials/greeting
include partials/quotation
include partials/calendar
include partials/weather
include partials/header
include partials/clock

block content

  +weather(temp, weathericon)
  +header(day)
  +greetingblock(hour)
  
  .row
    .col
      +calendarblock(day)
    #presence.col
      +presenceblock(presence)#presence
  +quotationblock(quotation)
  +clock()


  