html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab', rel='stylesheet')

    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', 
    integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
    link(href='/css/style.css?variable=yes', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='/js/site.js?variable=yes') 

  body
    #dash.container-fluid
      block content
        h1.display-1
            i.fa.fa-home(aria-hidden='true')
            |  Default Dashboard
        br
        hr

        div 
          p let's make some widgets!
      #battery
        p battery2
      |  1200 by 825px
      #clock
        object(data='/imgs/station-clock.svg', type='image/svg+xml', width='100', height='100')
          param(name='dial', value='din 41091.4')
          param(name='hourHand', value='din 41092.3')
          param(name='minuteHand', value='din 41092.3')
          param(name='secondHand', value='none')
          param(name='minuteHandBehavior', value='stepping')
          param(name='backgroundColor', value='rgba(0,0,0,0)')
          param(name='dialColor', value='rgb(40,40,40)')
          param(name='hourHandColor', value='rgb(20,20,20)')
          param(name='minuteHandColor', value='rgb(20,20,20)')
          param(name='axisCoverColor', value='rgb(20,20,20)')
          param(name='axisCoverRadius', value='0')
          param(name='updateInterval', value='50')
