extends dashboard_layout

block content
    #dash.container-fluid
      h1.float-right
        .text-right
          span#time #{time}
          br
          span#temp
            img(src=weathericon, alt='')
          |  #{temp} °
          br
      h1.display-1
        i.fa.fa-home(aria-hidden='true')
        |  Reedazawa
      br

      