extends dashboard_layout

include partials/weather
include partials/quotation
include partials/greeting
include partials/header
include partials/clock
include partials/calendar
include partials/presence

block content

  +weather()
  +header()
  +greetingblock()

  .row
    .col
      +calendarblock()

    .col
      +presenceblock()


  +quotationblock()
  +clock()


  