body{

      font-family: 'Roboto', serif;
      color: #000;

      }

#dash{

      padding: 5px;

      color: #000;
      width: 1200px;
      height: 825px;
      border: 0px solid black;

      }

.col{
  border: 0px solid red;


}

.row{
    margin-top:25px;
  margin-bottom:25px;
}

#statusbar{
    position: fixed;
    width: 100%;
    bottom: 0;
}

#clock{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 100%;
    margin-left: -120px;
    padding: 10px;
}


#quotation{
    font-size: 200%;
    font-size: 2.357vw;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 500;
    letter-spacing: 0.3em;
    margin: 1% auto;
}

.figure-caption {
    color: #222222;
}

#everyone_home{
  display:none;
}

.event{
  word-wrap: break-word;
}

.date{
  font-family: bold;
  font-size: 14px;
  border: 1px solid black;
}

h5{
  padding: 0px; 
  margin: 0px;
}