body{
      background-color: #fff;
      font-family: 'Roboto', serif;
      color: #000;

}

#dash{

      background-color: #fff;
      color: #000;
}

#battery{
    position: fixed;
    width: 100%;
    bottom: 0;
}