.widget-cta {

}

$background-color:   #888;
$value-color:              #FFF;
$blue:         #0000FF;
$red:         #FF0000;
$brown:       #8fb347;
$green:       #00FF00;
$pink:      #FF00FF;
$purple:            #522398;

$title-color:       rgba(255, 255, 255, 1);
$label-color:       rgba(255, 255, 255, 1);

.widget-ctabus{

  #background-color: $background-color;
  padding: 0px;
  vertical-align: top;

  img.background {
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 30px;
    opacity: 0.02;
  }

  .title {
    color: $title-color;
  }

  ol, ul {
    margin: 0px;

    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
  }

  .items{
    list-style: none;

    li {
      margin-top: 5px;

      .prediction {
        width: 50px;
        height: 50px;


        font-weight: bold;
        font-size: 75px;
      }
      .final_destination{
        font-size: 15px;

      }

      .label {
        display: block;
        color: $label-color;
        font-size: 20px;
        word-wrap: break-word;
      }
    }
  }
}
