// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #eee;

$title-color:       rgba(0, 0, 0, 1);
$moreinfo-color:    rgba(0, 0, 0, 0.5);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-wunderground {

  background-color: $background-color;

  .temp {
    color: $title-color;
  }

  .summary {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.1);
  }


  &.large h3 {
    font-size: 65px;
  }
}
