default:
  title: Default Dashboard

  weatherunderground:
    query: "60601" 
    apikey: xxx
  timezone: America/Los_Angeles

  firebase:
    serviceaccount_json: account.json
    domain: domain

  presence:
    url: https://presence-server.com
    apikey: xxxx



calendar:
  consumer_key: xxxxx
  consumer_secret: xxxxx
  callback: http://localhost/auth/callback
  people:
    - bob:
      access_token: xxx
      refresh_token: xxx
 