<% content_for :title do %>CTA<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="ctabus" data-view="ctabus" data-title="ctabus"></div>
    </li>

  </ul>
</div>