// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #eee;
$text-color: #222;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-wuforecast {

  background-color: $background-color;
  color: $text-color;

}

.forecast{
  text-align: center;

}

.day {
float: left;

width: 80px;
padding: 5px;
margin: 1px;
}
  .updated-at {
    color: rgba(0, 0, 0, 0.1);
  }
